.itemBlock {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 16px;
}

.raiting {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  z-index: 1;
}

.text {
  opacity: 1;
  color: black;
  z-index: 899;
}

.img {
  width: 40px;
  height: 40px;
}