.container {

  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconUp {
  font-size: 30px;
  color: green;
}

.iconDown {
  font-size: 30px;
  color: red;
}